{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="container py-4">
  <h1 class="mb-4">Вход</h1>

  <form method="post" class="card card-body shadow-sm">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div class="mb-3">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>
    <button class="btn btn-primary">Войти</button>
    <a href="{% url 'accounts:register' %}" class="btn btn-link">Регистрация</a>
  </form>
</div>
{% endblock %}